<html lang="en">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="mx-5 pt-5">
    <div class="mx-auto">
      <img class="w-[60px] h-[60px] mx-auto" src="{{companyLogo}}" alt="" />
    </div>
    <div class="text-center">
      <h5 class="w-60 mx-auto font-semibold">{{companyName}}
      </h5>
      <h5 class="w-[250px] mx-auto pt-2.5">
        {{companyAddress}}
      </h5>
    </div>
    <h2 class="text-center font-semibold text-2xl my-10">Payslip</h2>
    <div class="flex justify-between">
      <div>
        <h5 class="font-semibold">{{"Employee ID"}}</h5>
        <p>{{"First Name"}} {{"Middle Name"}} {{"Last Name"}}</p>
      </div>
      <div>
        <h5><span class="font-semibold">Pay Period:</span> {{dateFrom}} to {{dateTo}}</h5>
        <h5><span class="font-semibold">Pay Day:</span> {{datePayment}}</h5>
      </div>
    </div>
    <hr class="mt-2.5" />

    {{!-- PAY ITEMS START --}}
    {{#each payItems as |category|}}
      <table class="w-full mb-5">
        <thead>
          <tr class="text-left border-b-2 border-black">
            <th class="p-2">{{@key}}</th>
            <th class="p-2"></th>
          </tr>
        </thead>
        {{#each category as |payitem|}}
          <tbody>
            <tr class="text-left border-t-2">
              <th class="p-2 font-light">{{@key}}</th>
              <th class="p-2 text-right font-light">{{payitem}}</th>
            </tr>
        {{/each}}
            <tr class="text-left border-t-2 border-black">
              <th class="p-2">Total {{@key}}</th>
              <th class="p-2"></th>
              <th class="p-2"></th>
              <th class="p-2 text-right">{{concat "Total " @key}}</th>
            </tr>
          </tbody>
      </table>
    {{/each}}
    

    {{!-- PAY ITEMS END --}}

    <p class="text-2xl font-semibold">Take Home Pay: {{"Net Pay"}}</p>
  </body>
</html>